.load {
    height: 3rem;
    width: 3rem;
    border: 7px solid red;
    border-bottom: 7px solid transparent;
    border-radius: 100px;
    animation: .5s g ease-out infinite;
}

@keyframes g {
    to {
        transform: rotate(360deg);
    }
}